# Contentful — ContentfulダッシュボードのSettings > API keysから取得
CONTENTFUL_SPACE_ID=uhok6tqy4ac1
CONTENTFUL_ACCESS_TOKEN=7yEE8gc6NZ4pJGGGh_j5c1qqh3J4IWmDFeDhmtfqhQo
CONTENTFUL_PREVIEW_TOKEN=zzwNPGHpMASE8Gz--jy5Nae-CJ1NZKoopZRXCb26Tx4

# Google Analytics
NEXT_PUBLIC_GA_ID=G-TQ99JGEE6K

# Site URL (本番はhttps://glowlistnyc.com)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
